  <p>LiveView Page</p>
<div class="col-md-12" ng-controller="LiveviewCtrl">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="formSnapshot">Snapshot</label>
    <div class="col-sm-7">
      <input class="form-control" type="text" id="formSnapshot" ng-model="snapshotUri">
    </div>
    <button type="button" class="btn btn-primary" ng-click="setSnapshotUri()">Set</button>
  </div>
  <div>
    <a ng-click="play()" class="btn btn-default">Play</a>
    <a ng-click="stop()" class="btn btn-default">Stop</a>
  </div>
  <p></p>
  <div>
    <screen class='screen' player="snapshot" autostart="true"></screen>
  </div>
</div>

<div class="col-md-12">
<hr></hr>
</div>

<hr></hr>

<div class="col-md-12" ng-controller="LiveviewCtrl">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="formQuicktime">Quicktime</label>
    <div class="col-sm-7">
      <input class="form-control" type="text" id="formQuicktime" ng-model="streamUri">
    </div>
    <button type="button" class="btn btn-primary" ng-click="setQuicktimeUri()">Set</button>
  </div>
  <div>
    <a ng-click="play()" class="btn btn-default">Play</a>
    <a ng-click="stop()" class="btn btn-default">Stop</a>
  </div>
  <p></p>
  <div>
    <screen class='screen' player="quicktime" autostart="false"></screen>
    <!--
    <screen class='screen' player="snapshot" autostart="true"></screen>
    <screen class='screen' player="snapshot" media-uri="http://10.10.10.20/uapi-cgi/guest/snapshot.fcgi" autostart></screen>
    <screen class='screen' player="snapshot" media-uri="http://10.10.10.20/uapi-cgi/guest/snapshot.fcgi" autostart></screen>
    <screen class='screen' player="snapshot" media-uri="{{media.Profile[0].MediaUri.Snopshot.Uri}}" autostart></screen>
    -->
  </div>
</div>
</div>